// Colors
//
// $s-color-sexy - #fa6acc; sexy
// $s-color-glamour - #f02a52; glamour
// $s-color-sky - #09a6e4; sky
//
// Styleguide Settings.Colors
$s-color-sexy: #fa6acc;
$s-color-glamour: #f02a52;
$s-color-sky: #09a6e4;

$colors: (
  sexy: $s-color-sexy,
  glamour: $s-color-glamour,
  sky: $s-color-sky
);
