// zIndex
//
// The primary zIndexes.
//
//      $s-zindex: (
//        modal: 9000,
//        overlay: 8000,
//        tray: 7000,
//        header: 6000,
//        footer: 5000
//      );
//
// Styleguide Settings.zIndex
$s-zindex: (
  modal: 9000,
  overlay: 8000,
  tray: 7000,
  header: 6000,
  footer: 5000
);
