// pseudo
//
// Use this for creating scalable elements (usually images / background images) that maintain a ratio.<br/>
// <br/>Usage:
//
// * `@include pseudo`
//
// Markup:
// <style>
//   // Input
//  .cls {
//    &::after {
//      @include pseudo;
//      color: red;
//    }
//  }
//  // Output
//  .cls {
//    &::after {
//      content: '';
//      display: block;
//      position: absolute;
//      color: red;
//    }
//  }
// </style>
//
// Style guide: Tools.Css.pseudo
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}
